/* Container for the grid of product cards */
.product-grid {
    display: flex;
    justify-content: center;
    padding: 16px;
    align-items: center;
}

.userImgdiv {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: auto;
}

/* Card Styles */
.product-card {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Card Image Styles */
.product-card img {
    width: 100%;
    height: 160px;
    width: 150px;
    /* object-fit: cover; */
    transition: transform 0.3s;
}

.product-card img:hover {
    transform: scale(1.05);
}

/* Text Content */
.card-content {
    text-align: center;
}

.product-card-title {
    height: 50px;
    overflow-y: auto;
    font-weight: bold;
    font-size: 10px;
    /* padding-right: 10px; */
}

.product-card-title::-webkit-scrollbar {
    width: 3px;
    background-color: #f7f7f7;
    color: #555;
    padding: 5px;
}

.product-card-title::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.product-card-title::-webkit-scrollbar-thumb {
    background: #007BFF;
    border-radius: 10px;
}

.product-card-title::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

/* Category Styling */
.product-card-category {
    /* padding-bottom: 8px; */
    font-style: italic;
    font-size: 0.875rem;
    color: #6c757d;
}

/* Button Styles */
.product-card-button {
    background-color: #007BFF;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
}

.product-card-button:hover {
    background-color: #0056b3;
}