.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 60px;
}

.logoImage {
    width: 100%;
    height: 100%;

}

/* Adjust logo size for smaller screens */
@media (max-width: 600px) {
    /* .logo img {
        max-width: 120px;
        max-height: 50px;
    } */
}